<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.dataTables.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/semantic.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.semanticui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin" />

<script type="text/javascript" th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery/semantic.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/H-ui.admin.js}"></script>

<script type="text/javascript" th:src="@{/lib/jquery/dataTables.select.min.js}"></script>
<style>
.page-container {
	padding: 1px 5px 5px 5px;
}

tr.focus {
	background-color: #eee;
}
</style>
<title>添加模块授权</title>
</head>
<body>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var basePath = /*[[@{/}]]*/;
    /*]]>*/
</script>

<div class="page-container">
	<textarea name="tenantCode" id="tenantCode" style="display: none;">[[${tenantCode}]]</textarea>
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="btn-refresh Hui-iconfont">&#xe68f;</i></a>
	<table id="business" class="display" cellspacing="0" width="100%" align="center" style="table-layout:fixed;">
		<thead>
			<tr>
				<th style="width:15%;">模块编码</th>
				<th style="width:25%;">英文名</th>
				<th style="width:40%;">中文名</th>
				<th style="width:20%;">模块描述</th>
				<th style="width:6%; ">操作</th>
			</tr>
		</thead>
	</table>
</div>

<script type="text/javascript">
var tenantCode = document.getElementById("tenantCode").innerText;

$(document).ready(function() {
	$('#business').DataTable({
			ajax : basePath+"bizAuthority/findUnauthorizedBusiness",
			fnServerParams : function(aoData) {
				aoData.push(
					{name : "tenantCode",value : tenantCode}
				);
			},
			columns : [{
				data : "bizCode",
				"sDefaultContent" : ""
			}, {
				data : "bizEnglishName",
				"sDefaultContent" : ""
			}, {
				data : "bizChineseName",
				"sDefaultContent" : ""
			}, {
				data : "bizDesc",
				"sDefaultContent" : ""
			}, {
                 "sClass": "center",
                 "data": null,
                 "orderable": false,  
                 "render": function (data, type, full, meta) {
                	 return '<button class="btn btn-primary radius joinBtn" onClick="addBtn(this,\''+ data.bizCode + '\')">授权</button>';
               	 }
            }],
			language:{ "sEmptyTable": "数据为空" }
		});
});

function addBtn(obj,id){
	var bizList = [];
	var biz = {};
	biz.tenantCode = tenantCode;
	biz.bizCode = id;
	bizList.push(biz);
	
	if(bizList.length!=0){
		jQuery.ajax({
			type : "post",
			dataType : "json",
			url : basePath + "bizAuthority/joinBizAuthority",
			data : JSON.stringify(bizList),
		    contentType: 'application/json;charset=utf-8',
			success : function(data) {
				$(obj).parents("tr").remove();
				layer.msg(data.retMsg, {
					icon : 1,
					time : 1000
				});
			},
			error : function(data) {
				layer.msg('授权失败!', {
					icon : 1,
					time : 1000
				});
				console.log(data.msg);
			},
		});
	}
}

</script> 
<!--/请在上方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/jquery.validate.js}"></script> 
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/validate-methods.js}"></script> 
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/messages_zh.js}"></script> 
</body>
</html>