<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.dataTables.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/semantic.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.semanticui.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin" />

	<script type="text/javascript" th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/lib/jquery/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/lib/jquery/semantic.min.js}"></script>
	<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
	<script type="text/javascript" th:src="@{/js/H-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/H-ui.admin.js}"></script>
<style>
.page-container{
 padding: 1px 5px 5px 5px;
}
</style>
</head>
<body >
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var basePath = /*[[@{/}]]*/;
    /*]]>*/
</script>
	<div class="page-container">
		<div class="cl pd-3 bg-1 bk-gray">
			<span class="l" style="margin-top: 10px;margin-bottom: 15px;"><a href="javascript:;"
				onclick="bizAuthority_add('添加功能模块','','800','500')"
				class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i>
					添加功能模块</a></span>
				<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="btn-refresh Hui-iconfont">&#xe68f;</i></a>
		</div>
		<table id="bizAuthority" class="display" cellspacing="0" width="100%" align="center" style="table-layout:fixed">
			<thead>
				<tr>
					<th style="width:20%;">编码</th>
					<th style="width:25%;">英文名</th>
					<th style="width:25%;">中文名</th>
					<th style="width:30%;">描述</th>
					<th style="width:6%;">操作</th>
				</tr>
			</thead>
		</table>

	</div>
	<script language="JavaScript">
		$(document).ready(function() {
			$('#bizAuthority').DataTable({
					ajax : basePath+"bizAuthority/getBizAuthList",
					columns : [{
						data : "bizCode",
						"sDefaultContent" : ""
					}, {
						data : "bizEnglishName",
						"sDefaultContent" : ""
					}, {
						data : "bizChineseName",
						"sDefaultContent" : ""
					}, {
						data : "bizDesc",
						"sDefaultContent" : ""
					}, {
		                 "sClass": "center",
		                 "data": null,
		                 "orderable": false,  
		                 "render": function (data, type, full, meta) {
		                	 return '<a style="text-decoration:none" class="ml-5" onClick="bizAuthority_add(\'修改功能模块\',\''
		                			 + data.bizCode + '\',\'800\',\'500\')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5" onClick="bizAuthority_del(this,\'' 
		                			 + data.bizCode + '\')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>';
	                	 }
		            }],
					language:{ "sEmptyTable": "数据为空" }
				});
		});
		/*功能模块-添加*/
		function bizAuthority_add(title,bizCode,w,h){
			var index = layer.open({
				type: 2,
				title: title,
				content: basePath+'bizAuthority/editBusiness?bizCode='+bizCode
			});
			layer.full(index);
		}
		
		/*功能模块-删除*/
		function bizAuthority_del(obj,id){
			layer.confirm('确认要删除吗？',function(index){
				jQuery.ajax({
					type: "post",
	                dataType : "json", 
					url: basePath+"bizAuthority/deleteBusiness",
					data : {"code" : id},
					success: function(data){
						$(obj).parents("tr").remove();
						layer.msg('删除成功!',{icon:1,time:1000});
					},
					error:function(data) {
						layer.msg('删除失败!',{icon:1,time:1000});
						console.log(data.msg);
					},
				});		
			});
		}
	</script>
	
</body>